<div class="container">   
        <app-header></app-header>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <app-launch-filter (loading)="onLoading($event)" (launchesChange)="onLaunchesChange($event)"></app-launch-filter>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="row">
                    <div class=" col-sm-12 col-md-6 col-lg-3 custom-card" *ngFor="let launch of launches">
                        <app-launch-view [launch]="launch" *ngIf="launch"></app-launch-view>                        
                    </div>
                </div>
                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" >
                </ngx-loading>
            </div>
        </div>
        <app-footer></app-footer>  
  
</div>