.bold {
    font-weight: bold;
}
.imgCotainer {
    background-color: #f2f2f2;
}
.custom-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
}
.container{
    position: relative;
}